rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /tvl/{tvl} {
      allow read: if true;
    }
    match /user/{address} {
      allow create, update: if true;
    }
    match /user/{address}/portfolio/{document} {
      allow create: if true;
    }
    match /user/{address}/transactions/{document} {
      allow create: if true;
    }
    match /user/{address}/portfolio/{document} {
      allow read: if true;
    }
    match /user/{address}/transactions/{document} {
      allow read: if true;
    }
    match /user/{address}/monthlyPerformance/{document} {
      allow read: if true;
    }
  }
}